.bannerBg {
    background-image: url(./assets/banner-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn {
    @apply bg-slate-700 px-6 py-2 mx-auto block uppercase shadow-lg shadow-slate-800/10
}

* {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}