.bannerBg {
    background-image: url(./assets/banner-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn{
    @apply bg-slate-700 px-6 py-2 mx-auto block uppercase shadow-sm shadow-black
}