@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Maven Pro', sans-serif;
}


.text-muted {
    @apply text-gray-300
}

.my__Picture {
    animation-duration: 3s;
    animation-name: updown;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes updown {
    0% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(-15px);
    }
}